<div class="container">

    <table class="table">

        <tr>
            <th>i</th>
            <th>Player name </th>
            <th>post</th>
            <th>number </th>
            <th> nbr </th>
            <th> age </th>
        </tr>

        <tr *ngFor="let m of players let i=index">
            <td>{{i}}</td>
            <td>{{m.name}}</td>
            <td>{{m.poste}}</td>
            <td>{{m.nbr}}</td>
            <td>{{m.age}}</td>

            <td>

                <button class="btn btn-info" (click)="goTodisplay(m.id)" >Display</button>
                <button class="btn btn-warning"  (click)="goToEdit(m.id)">Edit</button>
                <button class="btn btn-danger" (click)="delete(i)" >Delete</button>

            </td>
        </tr>

    </table>



</div>